.mainContent {
  padding-top: 60px;
 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.allcards {
  margin-top: 50px;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 16px !important;

  
  justify-content: center;
  
  max-width: 1100px;
  
}


.cards {
  flex: 0 1 300px;
  
  margin: 0;
  
}