.mainContent {

  padding-top: 60px;
  /* navbar height + some spacing */
  color: black;
}

.allcards {
   display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  gap: 16px !important;
   display: flex;

}