.cards {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
}

.card {
    height: 400px;
    width: 300px;
    border-radius: 40px;
    padding: 8px;
    background-color: #090f35;
    box-shadow: 5px 5px 8px cyan, 10px 10px 8px purple, 15px 15px 8px green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    h1 {
        font-size: medium;
        color: aliceblue;
    }

    h2 {
        font-size: smaller;
        color: rgb(25, 110, 184);
    }

    h3 {
        font-size: smaller;
        color: white
    }

}

.image {
    height: 50%;
    width: 100%;
    border-radius: 30px;
}

h1 {
    font-size: medium;
    color: #2b2b2b;
}



.delete {
    background-color: red;
    display: block;
    margin: 10px;
}