.cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.card {
    padding-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 40px;
    background-color: #090f35;
    box-shadow: 5px 5px 8px cyan, 10px 10px 8px purple, 15px 15px 8px green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    h1 {
        font-size: medium;
        color: aliceblue;
    }

    h2 {
        font-size: smaller;
        color: rgb(25, 110, 184);
    }

    h3 {
        font-size: smaller;
        color: white
    }

}

.image {
    height: 50%;
    width: 100%;
    border-radius: 30px;
}

h1 {
    font-size: medium;
    color: #2b2b2b;
}



.delete {
    background-color: red;
    display: block;
    height: 20px;
    border-radius: 40px;
    margin: 10px;
    margin-left: 75%;
}

.update {
    text-decoration: none;
    background-color: green;
    display: block;
    border-radius: 40px;
    margin: 10px;
    margin-left: 75%;
}